ody{

}

button {

}

h1{
  font-size: 25px;
  margin-top: 10px;
  font-family: verdana;
  text-align: center;
  font-weight: lighter;
}

/*CLASSES*/
/*CLASSES*/
/*CLASSES*/

.wrapper{
  display: flex;
  flex-direction: column;
}

.nav_section{
  position: fixed;
  width:100%;
  top:0;
  display: flex;
  justify-content: space-between;
  background: rgb(244, 250, 248);

}

.logo{
  height: 40px;


}
.logo p{
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu{
  padding-right: 25px;
  display: flex;
  align-items: center;

}

.link_web{
  display:none;
  color: rgb(59, 70, 80);
}
.link_web p{
  font-family: arial;
  padding: 0 12px;
  font-weight: lighter;
}


.mobile{
  padding: 5px 8px;
  background: rgb(221, 221, 221);

}

.header_section{

  display: flex;
  flex-direction: column;
  background: url("https://barbiereslc.com/img/BarbSLC-6.jpg") ;
  background-size:cover;
  background-position: center;

}
.header_section p {
  font-weight:5;
  font-family: arial;
  text-align: center;
  color:rgb(241, 244, 243);
  letter-spacing: 9px;
}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(244, 250, 248);/*color for letter and border*/
  height:250px;
}

.top{
  justify-content:flex-end;
}


.bottom{
  justify-content:flex-start;
}

.sub_logo {

  height: auto;
  width: auto;
  border: 8px solid rgb(244, 250, 248);
}
.sub_logo p{
  font-family: verdana;
  color: rgb(244, 250, 248);
  font-weight: 10;
  margin: 5px 15px;
  font-size: 55px;
  padding: 2px 1px;
  letter-spacing: 0.2em;
}

.sub_botton{
  height: auto;
  width: auto;
}

.button{
  background: rgb(244, 250, 248);
  margin: 25px;
  text-align: center;
  text-decoration: none;
}

.button p{
  color: rgb(59, 70, 80);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing:1px;
  padding: 12px 10px;
}

.definition_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(233, 242, 238);
}

.definition{
  margin: 0 30%
}

.definition_section p{
  margin-top: 25px;
  padding: 0px 20px;
  font-family: arial;
  text-align: justify;

}
.definition_section strong:nth-child(2){/*MISSING THE N AS ITALIC*/
  font-style: italic
  color: blue;
}

.definition_section span {
  font-style: italic;
}

.about_section{
  display: flex;
  flex-direction: column;
  align-items:center;

  background: rgb(244, 250, 248);
}
.cell_row_info{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}
.info{
  margin: 0 100px;
  flex-basis:500px;
}

.about_section p{
  display: flex;
  flex-direction:column;
  margin: 25px 25px;
  font-family: arial;
  font-size: 15px;

}
.map{
  margin:0 25px;

}

.image_hidden{
  display: flex;
  align-items: center;

}
.image_hidden img{
  display:none;
  margin: 20px 20px;
  width:470px;
}

.hire_section{
  background: rgb(233, 242, 238);
}

.hire_section p{
  font-family: arial;
  font-size: 12px;
  text-align: center;
  font-weight: bold;

}
.appt_section{
  height:700px;
  background: rgb(59, 70, 80);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.appt_section p{

  font-family: arial;
  color: rgb(177, 228, 237);
  padding:  0 10px;
}

.appt_section{
  display: flex;
  align-items: center;
  color:rgb(255, 255, 255);
}

.scroll-container {
  background-color: rgb(255, 255, 255);
  height:650px;
  width: 500px;
  margin: 50px 250px;
  padding: 0 0;
  box-sizing: border-box;
  overflow-y:scroll;/*SCROLLING*/

}

.appt_placeHolder{

  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  max-width:500px;


}


}
.appt_header{
  flex: 1;
  border-bottom: 0.5px solid rgb(245, 245, 245);
}


.appt_main{
  flex:3;
  display:flex;
  flex-direction: column;
}

.appt_buttom{

  margin:5px 5px;
  padding: 5px auto;
  height:30px;
  width: 85px;
  box-sizing: border-box;
  border: 1px solid rgb(177, 228, 237);
}
.appt_buttom p{
 margin: 5px 0 5px 0;
}

.appt_table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.appt_tb_header{
  flex:1;
}
.appt_tb_header p{
  color:rgb(0, 0, 0);
}
.appt_tb_row{

  flex:1;
  display: flex;
  border: 1px solid rgb(177, 228, 237);
}
.product{
  flex:1;

}
.btn_arrow{
  margin: 10px 10px;
  border: 1px solid rgb(177, 228, 237);
  border-radius: 100%;


}

.appt_footer{
  flex:0;
  text-align: right;
}


.social_media{
  background: rgb(244, 250, 248);
}
.social_media h1{
  text-align: center;
}

.sm_logos_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 100px;
}
.logos{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  width: 100px;
}
.footer_section{
    background: rgb(244, 250, 248);
}

.footer_section p{
  padding: 20px;
  font-size: 8px;
  font-family: sans-serif;
  text-align: center;
}
.sm_group{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media(min-width:768px){

  .link_web{
    display:block;
  }
  .mobile{
    display:none;
  }
  .image_hidden img{
    display: block;
  }


  .sm_logos_container{
    flex-direction: column;
  }
  .sm_group{
    flex:1;
    flex-direction: row;
    justify-content: space-around;
  }


}

@media(min-width:1000px){

  .sm_logos_container{
    flex-direction: row;
  }


}
