
body{

}

button {

}

/*CLASSES*/
/*CLASSES*/
/*CLASSES*/

.wrapper{
  display: flex;
  flex-direction: column;
}

.nav_section{
  position: fixed;
  width:100%;
  top:0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  background: rgb(244, 250, 248);

}

.logo{
  height: 40px;


}
.logo p{
  font-family: "Ecam_bold", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;

}

.mobile{
  padding: 5px 8px;
  background: rgb(221, 221, 221);

}

.header_section{

  display: flex;
  flex-direction: column;
  background: url("https://barbiereslc.com/img/BarbSLC-6.jpg") ;
  background-size:cover;
  background-position: center;

}
.header_section p {
  font-weight:5;
  font-family: arial;
  text-align: center;
  color:rgb(241, 244, 243);
  letter-spacing: 9px;
}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(244, 250, 248);/*color for letter and border*/
  height:250px;
}

.top{
  justify-content:flex-end;
}


.bottom{
  justify-content:flex-start;
}

.sub_logo {

  height: auto;
  width: auto;
  border: 8px solid rgb(244, 250, 248);
}
.sub_logo p{
  color: rgb(244, 250, 248);
  font-weight: bolder;
  margin: 5px 15px;
  font-size: 30px;
  padding: 2px 1px;
  letter-spacing: 0.2em;
}

.sub_botton{
  height: auto;
  width: auto;
}

.button{
  background: rgb(244, 250, 248);
  margin: 25px;
  text-align: center;
  text-decoration: none;
}

.button p{
  color: rgb(59, 70, 80);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing:1px;
  padding: 12px 10px;
}

.definition_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(233, 242, 238);
}

.definition{
  margin: 0 30%
}

.definition_section p{
  margin-top: 25px;
  padding: 0px 20px;
  font-family: arial;
  text-align: justify;

}
.definition_section strong:nth-child(2){/*MISSING THE N AS ITALIC*/
  font-style: italic;
}

.about_section{
  display: flex;
  flex-direction: column;
  align-items:center;

  background: rgb(244, 250, 248);
}

.info{
  margin: 0 auto;
}
.about_section h1{
  font-family: verdana;
  text-align: center;
}
.about_section p{
  margin: 25px 25px;
  font-family: arial;
  font-size: 15px;

}
.image_hidden{

}
.image_hidden img{
  display:none;
  width:450px;
}
