
body{

}

/*CLASSES*/
/*CLASSES*/
/*CLASSES*/

.wrapper{
  display: flex;
  flex-direction: column;
}

.nav_section{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  background: rgb(244, 250, 248);

}

.logo{
  height: 40px;


}
.logo p{
  font-family: "Ecam_bold", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;

}

.mobile{
  padding: 5px 8px;
  background: rgb(221, 221, 221);

}
